<section class="container">
  <h1 class="text-center">Vos magasins</h1>
  <div id="shops">
    <%= render "shops" %>
  </div>
  <p class="text-center">
    <%= link_to "Nouveau magasin", new_shop_path, :class => 'btn btn-primary' %>
  </p>
</section>