<section class="container text-center container-main">
	<div class="row section">
		<h1>Votre besoin en tant que commerçant</h1>
		<h4>Restez connecté à vos clients et prospects grâce au réseau spécialisé dans le shopping promotionnel</h4>

		<div class="col-sm-4 hidden-xs">
			<span class="text-moovup percent">85%</span><br/>
			des internautes utilises Internet pour préparer leurs achats en magasin.
		</div>
		<div class="col-sm-4 hidden-xs">
			<span class="text-moovup percent">86%</span><br/>
			sont à la recherche de réductions commerciales.
		</div>
		<div class="col-sm-4 hidden-xs">
			<span class="text-moovup percent">72%</span><br/>
			souhaitent trouver sur Internet un produit à partir de son prix et de sa localisation.
		</div>
	</div>
	<div class="row section">
		<h1>La solution Moovup</h1>
		<div class="col-xs-10 col-xs-offset-1">
			<div class="spaced"><span class="text-moovup">Moovup</span> est une plateforme connectant les internautes et les commerçants autour de produits promotionnels.</div>
			<div class="spaced"><span class="text-moovup">Les commerçants</span> disposent d'une vitrine virtuelle permettant la mise en avant de leurs promotions.</div>
			<div class="spaced"><span class="text-moovup">Les utilisateurs</span> regroupent tous leurs magasins favoris sur une plateforme unique.</div>
		</div>
		<div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0 col-md-4 col-md-offset-0">
			<div class="spoiler"><span class="glyphicon glyphicon-star"></span></div>
			<div class="text-tiny text-justify">
				<span class="text-moovup">Les utilisateurs</span> se connectent à votre boutique et suivent toutes vos promotions sur vos vitrines virtuelles.<br/><span class="text-moovup">L'étoile vous permet de créer votre audience</span>
			</div>
		</div>
		<div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0 col-md-4 col-md-offset-0">
			<div class="spoiler"><span class="glyphicon glyphicon-picture"></span></div>
			<div class="text-tiny text-justify">
				Publiez auprès de votre audience et de celle de Moovup <span class="text-moovup">vos produits promotionnés phares.</span><br/>
				<span class="text-moovup">Sur Internet, on vend une photo et un prix</span>
			</div>
		</div>
		<div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0 col-md-4 col-md-offset-0">
			<div class="spoiler"><span class="glyphicon glyphicon-euro"></span></div>
			<div class="text-tiny text-justify">
				Améliorer la visibilité de vos produits promotionnels, boostez le trafic en boutique, augmentez votre notoriété et votre chiffre d'affaires.
			</div>
		</div>
	</div>

	<div class="row section">
		<h1>Le concept Moovup</h1>
		<div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0 col-md-4 col-md-offset-0 concept">
			<div class="text-justify text-moovup">
				Moovup est gratuit et le restera pour les professionnls et les particuliers.
			</div>
			<div class="text-tiny text-justify">
				Vous disposerez d'abonnements premiums, d'options et services payants pour vous mettre en avant et améliorer votre image de marque, votre notoriété et visibilité sur le site.
			</div>
			<div class="text-justify text-moovup">
				40% des clients venus du web achètent des produits additionnels
			</div>
		</div>

		<div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0 col-md-4 col-md-offset-0 concept">
			<div class="text-justify text-moovup">
				Moovup n'est pas un site d'e-commerce mais une vitrine virtuelle
			</div>
			<div class="text-tiny text-justify">
			Toutes les boutiques disposent d'horaires de fermeture; profitez d'Internet et d'une vitrine ouverte 24/24h et 7/7j pour mettre en avant vos produits promotionnels.
			</div>
			<div class="text-justify text-moovup">
				38% des réservations sont effectuées pendant les horaires de fermeture d'une boutique.
			</div>
		</div>
		<div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0 col-md-4 col-md-offset-0 concept">
			<div class="text-justify text-moovup">
				Offrez à vos clients les avantages du e-commerce et ceux d'une boutique réelle.
			</div>
			<div class="text-tiny text-justify">
			Consultation des produits en ligne, questionner le commerçant en ligne, toucher et essayer le produit, conseils et contacts humains, pas de paiement en ligne, pas de frais et de délais de livraison.
			</div>
			<div class="text-justify text-moovup">
				78% des réservations sont retirées en moins de 4 heures ouvrées.
			</div>
		</div>
		<div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0 col-md-4 col-md-offset-0 concept">
			<div class="text-justify text-moovup">
				Nos utilisateurs sont plus susceptibles de devenir clients.
			</div>
			<div class="text-tiny text-justify">
			Les utilisateurs de Moovup se connectent dans l'idée de trouver les bonnes affaires de leur ville et de leurs boutiques préférées. Ils sont prêt à effectuer un achat !
			</div>
			<div class="text-justify text-moovup">
				57% des ventes en magasins sont initiées par Internet
			</div>
		</div>
		<div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0 col-md-4 col-md-offset-0 concept">
			<div class="text-justify text-moovup">
				Moovup s'adapte à tous les écrans.
			</div>
			<div class="text-tiny text-justify">
				Les utilisateurs peuvent consulter à tout moment depuis leurs mobiles ou tablettes les promotions présentes en boutiques.
			</div>
			<div class="text-justify text-moovup">
				52% des internautes effectuent une recherche depuis leur mobile ou tablette.
			</div>
		</div>
		<div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0 col-md-4 col-md-offset-0 concept">
			<div class="text-justify text-moovup">
				Une solution Web-to-Store sur mesure.
			</div>
			<div class="text-tiny text-justify">
				Moovup vous offre un outil de communication et un espace d'exposition
			</div>
			<div class="text-justify text-moovup">
				66% des consommateurs consultent sur Internet avant de se déplacer en boutique.
			</div>
		</div>
	</div>

	<div class="section">
		<h1>Un dernier mot</h1>
		<div class="col-xs-12 text-justify">
			<span class="text-bold">Les magasins et Internet sont deux canaux qui se complètent idéalement.<br/>Avec Internet, </span> les marques peuvent étendre leur rayon d'action et toucher les consommateurs à tout moment, via divers moyens (smartphones, tablettes, ordinateurs).<br/>
			<span class="text-bold">Quant aux magasins physiques,</span> ils sont une étape essentielle dans le parcours clients et restent l'un des principaux points de contact entre les clients et une marque.<br/>
			<span class="text-bold">Commer physique et commerce connecté</span> ne peuvent donc plus être dissociés et les enseignes qui comprendront, que ces deux canaux sont convergents, arriveront à tirer leur épingle du jeu.
			<div class="text-right">
				<code>Lejournaldunet.com</code>
			</div>
		</div>
	</div>

	<%= link_to "Inscription", new_user_registration_path(), class: "btn btn-primary btn-lg" unless user_signed_in? %>
</section>