<section title="Cliquez pour accéder aux offres sur <%= @nearest_city %>" data-city="<%= @nearest_city %>" class="city-photo city-<%= @nearest_city.downcase %>"></section>
<div class="container container-main text-center">
	<h4>Découvrez rapidement et simplement les produits en promotion dans vos boutiques préférées.</h4>
	<div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0 col-md-4 col-md-offset-0">
		<div class="spoiler">
			<span class="glyphicon glyphicon-star text-moovup"></span>
		</div>
		<div class="text-justify">
			Restez connecté à vos boutiques préférées.<br/>
			Découvrez et consultez rapidement les produits en promotion présents en magasin.
		</div>
	</div>
	<div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0 col-md-4 col-md-offset-0">
		<div class="spoiler">
			<%= image_tag "icon_responsive.png" %>
		</div>
		<div class="text-justify">
			Consultez à tout moment depuis votre smartphone ou tablette les photos des produits en promotion publiés par les commerçants.
		</div>
	</div>
	<div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-0 col-md-4 col-md-offset-0">
		<div class="spoiler">
			<span class="glyphicon glyphicon-thumbs-up"></span>
		</div>
		<div class="text-justify">
			Profitez des avantages du e-commerce tout en bénéficiant du confort de vos boutiques.
		</div>
	</div>
</div>