<section  class="container container-margin">
	<h1 class="text-center">Vos annonces</h1>
	<div id="offers">
		<%= render 'offers' %>
	</div>
	<p class="text-center">
	  <%= link_to "Nouvelle annonce", new_offer_path, :class => 'btn btn-primary' %>
	</p>
</section>